{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="{% static 'assets/images/favicon.ico' %}">

	<title>Pearl Admin - Dashboard Advanced medias </title>
	<link rel="stylesheet" href="{% static 'assets/vendor_components/bootstrap/dist/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/skin_color.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

	    <!-- Style-->

</head>

<body class="hold-transition light-skin sidebar-mini theme-blackberry">
	<div class="wrapper">

		<header class="main-header">
			<div class="d-flex align-items-center ml-5">
				<a href="#" class="waves-effect waves-light nav-link rounded d-none d-md-inline-block"
					data-toggle="push-menu" role="button">
					<i class="nav-link-icon mdi mdi-menu text-white"></i>
				</a>
				<a href="#" class="logo">
					<div class="logo-lg">
						<span class="light-logo"><img src="{% static 'assets/images/logo-light-text.png' %}" alt="logo"></span>
						<span class="dark-logo"><img src="{% static 'assets/images/logo-dark-text.png' %}" alt="logo"></span>
					</div>
				</a>
			</div>
			<nav class="navbar navbar-static-top">
				<div class="app-menu">
					<ul class="header-megamenu nav">
						<li class="btn-group nav-item d-md-none">
							<a href="#" class="waves-effect waves-light nav-link rounded" data-toggle="push-menu"
								role="button">
								<i class="nav-link-icon mdi mdi-menu text-white"></i>
							</a>
						</li>
					</ul>
				</div>

				<div class="navbar-custom-menu r-side">
					<ul class="nav navbar-nav">
						<li class="dropdown user user-menu">
							<a href="#" class="waves-effect waves-light dropdown-toggle p-5" data-toggle="dropdown"
								title="User">
								<img src="{% static 'assets/images/avatar/9.jpg' %}" class="rounded" alt="" />
							</a>
							<ul class="dropdown-menu animated flipInX">
								<li class="user-header bg-img"
									style="background-image: url(assets/images/user-info.jpg)" data-overlay="3">
									<div class="flexbox align-self-center">
										<img src="{% static 'assets/images/avatar/7.jpg' %}" class="float-left rounded-circle"
											alt="User Image">
										<h4 class="user-name align-self-center">
											<span>Samuel Brus</span>
											<small>samuel@gmail.com</small>
										</h4>
									</div>
								</li>
								<li class="user-body">
									<a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-person"></i>
										Workspace Users</a>
									<a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-bag"></i>
										Workspace Preferences</a>
									<a class="dropdown-item" href="{% url 'integration' %}"><i
											class="ion ion-email-unread"></i> Integrations</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-settings"></i>
										Agency Dashboard</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="javascript:void(0)"><i class="ion-log-out"></i>
										Logout</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu" data-widget="tree">
					<li class="treeview">
						<a href="{% url 'home' %}">
							<i class="mdi mdi-minus-network"></i>
							<span>Dashboard</span>
						</a>
					</li>
				</ul>
			</section>
		</aside>

		<div class="content-wrapper">
			<div class="container-full">
				<div class="content-header">
					<div class="d-flex align-items-center">
						<div class="mr-auto">
							<h3 class="page-title">Workspace Preferences</h3>
							<div class="d-inline-block align-items-center">
								<nav>
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Workspace Preferences
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>

				<section class="content">
					<div class="row">

						<!-- <div class="col-md-4 col-12">
							<div class="media align-items-center bg-facebook justify-content-between">
								<img class="avatar" src="{% static 'assets/images/new-img/facebook.png' %}" alt="...">
								<div>
									<a class="btn btn-block btn-outline text-white btn-transparent" href="#">+ Add
										Account</a>
								</div>
							</div>
							<div class="media bg-white mb-20">
								<span class="avatar status-success">
									<img class="avatar" src="{% static 'assets/images/avatar.png' %}" alt="...">
								</span>
								
								<div class="media-body">
									<p><strong>Johen Doe</strong> <time class="float-right"
											datetime="2017-07-14 20:00">24 min ago</time></p>
									<div class="d-inline-block pull-right mt-10">
										<button type="button"
											class="btn btn-rounded btn-sm btn-danger m-5">Delete</button>
									</div>
								</div>
							</div>
						</div> -->

						<div class="col-md-4 col-12">
							<div class="media align-items-center bg-instagram mb-20 justify-content-between">
								<img class="avatar" src="{% static 'assets/images/new-img/instagram.png' %}" alt="...">
								<div>
									<a class="btn btn-block btn-outline text-white btn-transparent" href="#">+ Add
										Account</a>
								</div>
							</div>
						</div>

						<!-- <div class="col-md-4 col-12">
							<div class="media align-items-center bg-tiktok mb-20 justify-content-between">
								<img class="avatar" src="{% static 'assets/images/new-img/tiktok.png' %}" alt="...">
								<div>
									<a class="btn btn-block btn-outline text-white btn-transparent" href="#">+ Add
										Account</a>
								</div>
							</div>
						</div> -->
<!-- 
						<div class="col-md-4 col-12">
							<div class="media align-items-center bg-linkedin mb-20 justify-content-between">
								<img class="avatar" src="{% static 'assets/images/new-img/linkedin.png' %}" alt="...">
								<div>
									<a class="btn btn-block btn-outline text-white btn-transparent" href="#">+ Add
										Account</a>
								</div>
							</div>
						</div> -->

						<!-- <div class="col-md-4 col-12">
							<div class="media align-items-center bg-twitter mb-20 justify-content-between">
								<img class="avatar" src="{% static 'assets/images/new-img/twitter.png' %}" alt="...">
								<div>
									<a class="btn btn-block btn-outline text-white btn-transparent" href="#">+ Add
										Account</a>
								</div>
							</div>
						</div> -->

						<!-- <div class="col-md-4 col-12">
							<div class="media align-items-center bg-youtube mb-20 justify-content-between">
								<img class="avatar" src="{% static 'assets/images/new-img/youtube.png' %}" alt="...">
								<div>
									<a class="btn btn-block btn-outline text-white btn-transparent" href="#">+ Add
										Account</a>
								</div>
							</div>
						</div> -->

						<!-- <div class="col-md-4 col-12">
							<div class="media align-items-center bg-gmb mb-20 justify-content-between">
								<img class="avatar" src="{% static 'assets/images/new-img/gmb.png' %}" alt="...">
								<div>
									<a class="btn btn-block btn-outline text-white btn-transparent" href="#">+ Add
										Account</a>
								</div>
							</div>
						</div> -->

						<!-- <div class="col-md-4 col-12">
							<div class="media align-items-center bg-pintrest mb-20 justify-content-between">
								<img class="avatar" src="{% static 'assets/images/new-img/pintrest.png' %}" alt="...">
								<div>
									<a class="btn btn-block btn-outline text-white btn-transparent" href="#">+ Add
										Account</a>
								</div>
							</div>
						</div> -->
					</div>
				</section>
			</div>
		</div>

		<div class="control-sidebar-bg"></div>
	</div>
    <script src="{% static 'assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'assets/vendor_components/screenfull/screenfull.js' %}"></script>
	<script src="{% static 'assets/vendor_components/popper/dist/popper.min.js' %}"></script>
	<script src="{% static 'assets/vendor_components/bootstrap/dist/js/bootstrap.js' %}"></script>
	<script src="{% static 'assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
	<script src="{% static 'assets/vendor_components/fastclick/lib/fastclick.js' %}"></script>
	<script src="{% static 'assets/vendor_components/jquery-sparkline/dist/jquery.sparkline.js' %}"></script>
	<script src="{% static 'assets/js/template.js' %}"></script>
	<script src="{% static 'assets/js/pages/media.js' %}"></script>
	<script src="{% static 'assets/js/demo.js' %}"></script>

</body>

</html>