<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">

    <title>Forgot Password - Social Scraper </title>
  
	<link rel="stylesheet" href="assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/skin_color.css">
	<link rel="stylesheet" href="assets/css/custom.css">	


</head>
<body class="hold-transition theme-blackberry bg-img" style="background-image: url(assets/images/bg-1.jpg)" data-overlay="5">
	
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">	
			
			<div class="col-12">
				<div class="row justify-content-center no-gutters">
					<div class="col-lg-4 col-md-5 col-12">
						<div class="bg-white-10 rounded5">
							<div class="content-top-agile p-10 pb-0">
								<h2 class="text-white">Forgot Password? 🔒</h2>
								<p class="text-white-50 mb-0">Enter your email and we'll send you instructions to reset your password</p>							
							</div>
							<div class="p-30">
								<form action="#" method="post">
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text bg-transparent text-white"><i class="ti-email"></i></span>
											</div>
											<input type="email" class="form-control pl-15 bg-transparent text-white plc-white" placeholder="Email">
										</div>
									</div>
									  <div class="row">
										<div class="col-12 text-center">
										  <button type="submit" class="btn bg-braned text-white btn-rounded mt-10">SEND RESET LINK</button>
										</div>
									  </div>
								</form>														
								<div class="text-center">
									<p class="mt-15 mb-0 text-white">Back to <a href="login.html" class="text-warning ml-5">Sign In</a></p>
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js"></script>
	<script src="assets/vendor_components/screenfull/screenfull.js"></script>
	<script src="assets/vendor_components/popper/dist/popper.min.js"></script>
	<script src="assets/vendor_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
