{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}">


    <title>Log in - Social Scraper </title>

    <link rel="stylesheet" href="{% static 'assets/vendor_components/bootstrap/dist/css/bootstrap.min.css' %}">

    <!-- theme style -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- Admin skins -->
    <link rel="stylesheet" href="{% static 'assets/css/skin_color.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

</head>


<body class="hold-transition theme-blackberry bg-img"
    style="background-image: url('{% static 'assets/images/bg-1.jpg' %}')" data-overlay="3">

    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">

            <div class="col-12">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-4 col-md-5 col-12">
                        <div class="bg-white-10 rounded5">
                            <div class="content-top-agile p-10 pb-0">
                                <h2 class="text-white">Get started with Us</h2>
                                <p class="text-white-50 mb-0">Sign in to start your session</p>
                            </div>
                            <div class="p-30">

                                <form action="#" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-transparent text-white"><i
                                                        class="ti-user"></i></span>
                                            </div>
                                            <input type="text" name="username"
                                                class="form-control pl-15 bg-transparent text-white plc-white"
                                                placeholder="Username" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text  bg-transparent text-white"><i
                                                        class="ti-lock"></i></span>
                                            </div>
                                            <input type="password" name="password"
                                                class="form-control pl-15 bg-transparent text-white plc-white"
                                                placeholder="Password" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="checkbox text-white">
                                                <input type="checkbox" id="basic_checkbox_1">
                                                <label for="basic_checkbox_1">Remember Me</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="fog-pwd text-right">
                                                <a href="forgot-password.html" class="text-white hover-warning"><i
                                                        class="ion ion-locked"></i> Forgot pwd?</a><br>
                                            </div>
                                        </div>
                                        <div class="col-12 text-center">
                                            <button type="submit"
                                                class="btn bg-braned text-white btn-rounded mt-10">SIGN IN</button>
                                        </div>
                                    </div>
                                    {% if error_message %}
                                    <div class="alert alert-danger mt-3">
                                        {{ error_message }}
                                    </div>
                                    {% endif %}

                                </form>


                                <div class="text-center text-white">
                                    <p class="mt-20">- Sign With -</p>
                                    <p class="gap-items-2 mb-20">
                                        <a class="btn btn-social-icon btn-round btn-outline btn-white" href="#"><i
                                                class="fa fa-facebook"></i></a>
                                        <a class="btn btn-social-icon btn-round btn-outline btn-white" href="#"><i
                                                class="fa fa-twitter"></i></a>
                                        <a class="btn btn-social-icon btn-round btn-outline btn-white" href="#"><i
                                                class="fa fa-google-plus"></i></a>
                                        <a class="btn btn-social-icon btn-round btn-outline btn-white" href="#"><i
                                                class="fa fa-instagram"></i></a>
                                    </p>
                                </div>

                                <div class="text-center">
                                    <p class="mt-15 mb-0 text-white">Don't have an account? <a href="{% url 'signup' %}"
                                            class="text-warning ml-5">Sign Up</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js' %}"></script>

    <!-- fullscreen -->
    <script src="{% static 'assets/vendor_components/screenfull/screenfull.js' %}"></script>

    <!-- popper -->
    <script src="{% static 'assets/vendor_components/popper/dist/popper.min.js' %}"></script>

    <!-- Bootstrap 4.0-->
    <script src="{% static 'assets/vendor_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>


</body>

</html>