{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="{% static 'assets/images/favicon.ico' %}">

	<title>Pearl Admin - Dashboard Advanced medias </title>
	<link rel="stylesheet" href="{% static 'assets/vendor_components/bootstrap/dist/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/skin_color.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

</head>

<body class="hold-transition light-skin sidebar-mini theme-blackberry">
	<div class="wrapper">

		<header class="main-header">
			<div class="d-flex align-items-center ml-5">
				<a href="#" class="waves-effect waves-light nav-link rounded d-none d-md-inline-block"
					data-toggle="push-menu" role="button">
					<i class="nav-link-icon mdi mdi-menu text-white"></i>
				</a>
				<a href="#" class="logo">
					<div class="logo-lg">
						<span class="light-logo"><img src="{% static 'assets/images/logo-light-text.png' %}" alt="logo"></span>
						<span class="dark-logo"><img src="{% static 'assets/images/logo-dark-text.png' %}" alt="logo"></span>
					</div>
				</a>
			</div>
			<nav class="navbar navbar-static-top">
				<div class="app-menu">
					<ul class="header-megamenu nav">
						<li class="btn-group nav-item d-md-none">
							<a href="#" class="waves-effect waves-light nav-link rounded" data-toggle="push-menu"
								role="button">
								<i class="nav-link-icon mdi mdi-menu text-white"></i>
							</a>
						</li>
					</ul>
				</div>

				<div class="navbar-custom-menu r-side">
					<ul class="nav navbar-nav">
						<li class="dropdown user user-menu">
							<a href="#" class="waves-effect waves-light dropdown-toggle p-5" data-toggle="dropdown"
								title="User">
								<img src="{% static 'assets/images/avatar/9.jpg' %}" class="rounded" alt="" />
							</a>
							<ul class="dropdown-menu animated flipInX">
								<li class="user-header bg-img"
									style="background-image: url(assets/images/user-info.jpg)" data-overlay="3">
									<div class="flexbox align-self-center">
										<img src="{% static 'assets/images/avatar/7.jpg' %}" class="float-left rounded-circle"
											alt="User Image">
										<h4 class="user-name align-self-center">
											<span>Samuel Brus</span>
											<small>samuel@gmail.com</small>
										</h4>
									</div>
								</li>
								<li class="user-body">
									<a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-person"></i>
										Workspace Users</a>
									<a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-bag"></i>
										Workspace Preferences</a>
									<a class="dropdown-item" href="javascript:void(0)"><i
											class="ion ion-email-unread"></i> Integrations</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-settings"></i>
										Agency Dashboard</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="javascript:void(0)"><i class="ion-log-out"></i>
										Logout</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu" data-widget="tree">
					<li class="treeview">
						<a href="#">
							<i class="mdi mdi-minus-network"></i>
							<span>Dashboard</span>
						</a>
					</li>
				</ul>
			</section>
		</aside>

		<div class="content-wrapper">
			<div class="container-full">
				<div class="content-header">
					<div class="d-flex align-items-center">
						<div class="mr-auto">
							<h3 class="page-title">Workspace Preferences</h3>
							<div class="d-inline-block align-items-center">
								<nav>
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Workspace Preferences
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>

				<section class="content">
					<div class="row">

						<div class="col-md-4 col-12">
							<div class="media align-items-center bg-instagram mb-20 justify-content-between">
								<img class="avatar" src="{% static 'assets/images/new-img/instagram.png' %}" alt="...">
								<div>
									<a class="btn btn-block btn-outline text-white btn-transparent" href="#"
										data-toggle="modal" data-target="#modal-center">+ Add Account</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

		<div class="control-sidebar-bg"></div>
	</div>
	<div class="modal center-modal fade" id="modal-center" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content br-5">
				<div class="modal-header bg-instagram">
					<h4 class="modal-title text-white"><img class="avatar" src="{% static 'assets/images/new-img/instagram.png' %}" alt="..."> Login With Instagram</h4>
					<button type="button" class="close col-model-close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form id="login-form" class="form">
						<div class="box-body">
							<div class="form-group">
								<label>User Name</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="ti-user"></i></span>
									</div>
									<input type="text" id="username" class="form-control" placeholder="Username">
								</div>
							</div>
							<div class="form-group">
								<label>Password</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="ti-lock"></i></span>
									</div>
									<input type="password" id="password" class="form-control" placeholder="Password">
								</div>
							</div>
							<div class="form-group text-center">
								<button type="submit" class="btn bg-braned text-white btn-rounded mt-10">SIGN IN</button>
							</div>
						</div>
					</form>

				</div>
				
			</div>
		</div>
	</div>



	<script>

        async function handleSubmit(event) {
            event.preventDefault();
            
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            
            const response = await fetch('{% url "insta_login" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')  // Include CSRF token if necessary
                },
                body: JSON.stringify({ username, password })
            });
            
            const data = await response.json();
            
            if (data.message === 'Login successful') {
				
                window.location.href = '{% url "instagram" %}';
				
            } else {
                alert('Login unsuccessful');
            }
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('login-form').addEventListener('submit', handleSubmit);
        });


	</script>








	<script src="{% static 'assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'assets/vendor_components/screenfull/screenfull.js' %}"></script>
	<script src="{% static 'assets/vendor_components/popper/dist/popper.min.js' %}"></script>
	<script src="{% static 'assets/vendor_components/bootstrap/dist/js/bootstrap.js' %}"></script>
	<script src="{% static 'assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
	<script src="{% static 'assets/vendor_components/fastclick/lib/fastclick.js' %}"></script>
	<script src="{% static 'assets/vendor_components/jquery-sparkline/dist/jquery.sparkline.js' %}"></script>
	<script src="{% static 'assets/js/template.js' %}"></script>
	<script src="{% static 'assets/js/pages/media.js' %}"></script>
	<script src="{% static 'assets/js/demo.js' %}"></script>

</body>

</html>